/*------------------------------
	MAIN
------------------------------*/

body {
  font-family: 'font', sans-serif;
  padding-top: 30px;
}

h1 {
  display: none;
}

h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #FFFFFF;
}

a:focus,
a:hover {
  outline: 0 none;
  text-decoration: none;
  transition-duration: 1s;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  font-weight: 300;
  font-size: 24px;
}

h2 {
  color: #FFF;
  font-size: 80px;
  font-weight: 100;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  font-size: 16px;
}

.btn-primary {
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  border: 1px solid #FFF;

  &:hover {
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFF;
  }
}

/*------------------------------
  Colors
------------------------------*/
.white {
  color: white;
}

/*------------------------------
	CONTENT
------------------------------*/
#text {
  text-align: center;
  padding: 0 0 50px 0;
}

.highlight {
  font-weight: 400;
}

.line {
  display: block;
  margin: 28px 0;
  position: relative;
  text-align: center;

  h3 {
    color: #FFF;
    font-weight: 100;
    font-size: 40px;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.line:before, .line:after {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  content: "";
  height: 1px;
  max-width: 400px;
  position: absolute;
  top: 25px;
  width: 45%;
}

/*------------------------------
	COUNTDOWN
------------------------------*/

#DateCountdown {
  width: 500px;
  height: 125px;
  color: #FFF;
  margin: 0 auto;
}

/*------------------------------
	FOOTER NAVBAR
------------------------------*/

.navbar-default {
  padding-top: 10px;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #FFF;

  .navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF;
  }

  .navbar-nav > li > a {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .navbar-nav > li > a:before {
    color: rgba(255, 255, 255, 0);
    bottom: 4px;
    content: "─";
    left: 42%;
    position: absolute;
    text-shadow: 0 0 rgba(255, 255, 255, 0);
  }

  .navbar-nav > li > a:hover {
    color: #FFF;
    &:before {
      color: #FFFFFF;
      text-shadow: 10px 0 #FFFFFF, -10px 0 #FFFFFF;
      transition-duration: 0.5s;
    }
  }

  .navbar-collapse {
    border-color: #FFF;
    padding-top: 15px;
  }
}
.brands{
  > li {
    margin: 0 0 8px;
  }
  > li > a {
    list-style: none;
    padding-left: 0;
    background-color: transparent;
    border-radius: 60px;
    border: 1px solid transparent;
    color: #FFFFFF;

    &:hover {
      color: #FFFFFF;
      transition-duration: 1s;
      border-radius: 60px;
      border: 1px solid #FFF;
    }
}

/*------------------------------
	MODAL
------------------------------*/
.modal-dialog {
  width: 100%;
  position: absolute;
  top: -30px;
  text-align: center;
  background-color: #4F5D73;
  padding-bottom: 30px;
}

.modal {
  overflow: hidden;

  img {
    margin: 0 auto 0 auto;
  }

  p {
    font-weight: 200;
    font-size: 18px;
  }

  h3 {
    font-size: 46px;
    font-weight: 200;
    color: #FFF;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 24px;
    font-weight: 200;
    color: #FFF;
  }

  address {
    color: #FFF;
  }
}

#map-canvas {
  height: 350px;
  margin: 0;
  padding: 0;
}

.form-group {
  line-height: 50px;
}

.subscribe-wrap {
  padding-top: 36px;
}

.form-inline .form-control {
  backgroung-color: #FFF;
  width: 100%;
  height: 36px;
  box-shadow: none;
}

form .form-inline {
  backgroung-color: #FFF;
  width: 300px;
  height: 38px;
  box-shadow: none;
}

.form-control:focus {
  border-color: #FFF;
  box-shadow: none;
}

.form-control::-moz-placeholder {
  color: #FFF;
}

button.close {
  font-size: 36px;
}

.btn-submit {
  background-color: transparent;
  border: 1px solid #FFF;
  &:hover {
    transition-duration: 1s;
    background-color: #FFF;
    border: 1px solid #FFF;
  }
}

address {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 300;

  a {
    text-decoration: underline;
    &:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}

/*------------------------------
	MEDIUM DEVICES
------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
  .line:before, .line:after {
    max-width: 300px;
  }
  .time_circles {
    margin-bottom: 24%;
  }
}

/*------------------------------
	SMALL DEVICES
------------------------------*/

@media (min-width: 768px) and (max-width: 992px) {

  .line:before, .line:after {
    max-width: 200px;
  }

  .time_circles {
    margin-bottom: 20%;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 15px;
  }

}

/*------------------------------
	EXTRA SMALL DEVICES
------------------------------*/

@media (min-width: 481px) and (max-width: 767px) {

  .line:before, .line:after {
    max-width: 200px;
  }
  .text {
    padding: 0 0 0 0;
  }
  #DateCountdown {
    width: 450px;
  }

  address {
    padding-top: 15px;
  }

  .time_circles {
    margin-bottom: 22%;
  }

  .btn-primary:hover {
    transition-duration: 1s;
    background-color: transparent;
    border: 1px solid #FFF;
  }

  .modal {
    overflow: auto;
  }

  .modal-dialog {
    margin: 0;
  }

  form {
    margin-top: 15px;
  }

  .navbar-default .navbar-nav > li > a:hover:before {
    color: transparent;
    text-shadow: none;
    transition-duration: 0.5s;
  }

  .navbar-default {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .navbar-default .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .brands > li > a {
    background-color: transparent;
    border-radius: 60px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }

}

/*------------------------------
	Phones with 600px width
------------------------------*/

@media (max-width: 600px) {

  .line:before, .line:after {
    max-width: 110px;
  }
}

/*------------------------------
	Phones with 548px width
------------------------------*/

@media (max-width: 548px) {

  .line:before, .line:after {
    max-width: 90px;
  }

  .form-inline .form-control {
    float: left;
    width: 250px;
  }
}

/*------------------------------
	Phones with 480px width
------------------------------*/

@media (min-width: 321px) and (max-width: 480px) {

  .form-inline .form-control {
    float: left;
    width: 250px;
  }

  .line:before, .line:after {
    height: 0;
  }

  .text {
    padding: 0 0 0 0;
  }

  #DateCountdown {
    width: 350px;
  }

  address {
    padding-top: 15px;
  }

  .time_circles {
    margin-bottom: 22%;
  }

  .btn-primary:hover {
    transition-duration: 1s;
    background-color: transparent;
    border: 1px solid #FFF;
  }

  .modal {
    overflow: auto;
  }

  .modal-dialog {
    margin: 0;
  }

  .navbar-default .navbar-nav > li > a:hover:before {
    color: transparent;
    text-shadow: none;
    transition-duration: 0.5s;
  }

  .navbar-default {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .navbar-default .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .brands > li > a {
    background-color: transparent;
    border-radius: 60px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
}

/*------------------------------
	Phones with 320px width
------------------------------*/

@media (max-width: 320px) {

  .text {
    padding: 0 0 0 0;
  }

  address {
    padding-top: 15px;
  }

  #DateCountdown {
    width: 200px;
  }

  .time_circles {
    margin-bottom: 20%;
  }

  .btn-primary:hover {
    transition-duration: 1s;
    background-color: transparent;
    border: 1px solid #FFF;
  }

  .modal {
    overflow: auto;
  }

  .modal-dialog {
    margin: 0;
  }

  .form-inline .form-control {
    width: 200px;
    margin-bottom: 15px;
  }

  .navbar-default {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .navbar-default .navbar-nav > li > a:hover:before {
    color: transparent;
    text-shadow: none;
    transition-duration: 0.5s;
  }

  .navbar-default .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .brands {
    > li {
      margin: 0 0 8px;
      > a {
        background-color:transparent;
        border-radius:60px;
        border:1px solid #FFFFFF;
        color:#FFFFFF;
      }
    }
  }
  .brands-tn > li > a {
    font-size: 12px;
    padding-top: 4px;
    width: 25px;
    height: 25px;
  }

  .brands-sm > li > a {
    font-size: 16px;
    padding-top: 6px;
    width: 35px;
    height: 35px;
  }

  .brands-lg > li > a {
    font-size: 40px;
    padding-top: 12px;
    width: 80px;
    height: 80px;
  }

  .brands-hg > li > a {
    font-size: 60px;
    padding-top: 13px;
    width: 110px;
    height: 110px;
  }

  .line:before, .line:after {
    height: 0;
  }
}

/*------------------------------
	BRAND COLORS
------------------------------*/

.brands-inverse > li > a {
  background-color: #555555;
  color: #ebebeb;
}

.brands-colored > li > a {
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
  &.brands-adn {
    background-color: #444444;
    &:hover {
      background-color: #444444;
    }
  }
  &.brands-android {
    background-color: #A4C639;
    &:hover {
      background-color: #A4C639;
    }
  }
  &.brands-apple {
    background-color: #000000;
    &:hover {
      background-color: #000000;
    }
  }
  &.brands-bitbucket {
    background-color: #205081;
    &:hover {
      background-color: #205081;
    }
  }
  &.brands-btc {
    background-color: #F89F37;
    &:hover {
      background-color: #F89F37;
    }
  }
  &.brands-css3 {
    background-color: #2177FF;
    &:hover {
      background-color: #2177FF;
    }
  }
  &.brands-dribbble {
    background-color: #F46899;
    &:hover {
      background-color: #F46899;
    }
  }
  &.brands-dropbox {
    background-color: #3476E4;
    &:hover {
      background-color: #3476E4;
    }
  }
  &.brands-facebook {
    background-color: #3B5998;
    &:hover {
      background-color: #3B5998;
    }
  }
  &.brands-flickr {
    background-color: #FE0883;
    &:hover {
      background-color: #FE0883;
    }
  }
  &.brands-foursquare {
    background-color: #8FD400;
    &:hover {
      background-color: #8FD400;
    }
  }
  &.brands-github {
    background-color: #222222;
    &:hover {
      background-color: #222222;
    }
  }
  &.brands-gittip {
    background-color: #663300;
    &:hover {
      background-color: #663300;
    }
  }
  &.brands-google-plus {
    background-color: #C63D2D;
    &:hover {
      background-color: #C63D2D;
    }
  }
  &.brands-html5 {
    background-color: #E44D26;
    &:hover {
      background-color: #E44D26;
    }
  }
  &.brands-instagram {
    background-color: #4E433C;
    &:hover {
      background-color: #4E433C;
    }
  }
  &.brands-linkedin {
    background-color: #4875B4;
    &:hover {
      background-color: #4875B4;
    }
  }
  &.brands-linux {
    background-color: #FFD133;
    &:hover {
      background-color: #FFD133;
    }
  }
  &.brands-maxcdn {
    background-color: #F7AC1B;
    &:hover {
      background-color: #F7AC1B;
    }
  }
  &.brands-pagelines {
    background-color: #135DA7;
    &:hover {
      background-color: #135DA7;
    }
  }
  &.brands-pinterest {
    background-color: #CB2027;
    &:hover {
      background-color: #CB2027;
    }
  }
  &.brands-renren {
    background-color: #005AAB;
    &:hover {
      background-color: #005AAB;
    }
  }
  &.brands-skype {
    background-color: #00ADF2;
    &:hover {
      background-color: #00ADF2;
    }
  }
  &.brands-stack-exchange {
    background-color: #205296;
    &:hover {
      background-color: #205296;
    }
  }
  &.brands-stack-overflow {
    background-color: #D28A29;
    &:hover {
      background-color: #D28A29;
    }
  }
  &.brands-trello {
    background-color: #216884;
    &:hover {
      background-color: #216884;
    }
  }
  &.brands-tumblr {
    background-color: #2B4964;
    &:hover {
      background-color: #2B4964;
    }
  }
  &.brands-twitter {
    background-color: #33CCFF;
    &:hover {
      background-color: #33CCFF;
    }
  }
  &.brands-vimeo {
    background-color: #86B32D;
    &:hover {
      background-color: #86B32D;
    }
  }
  &.brands-vk {
    background-color: #44678D;
    &:hover {
      background-color: #44678D;
    }
  }
  &.brands-weibo {
    background-color: #D52B2A;
    &:hover {
      background-color: #D52B2A;
    }
  }
  &.brands-windows {
    background-color: #00ADEF;
    &:hover {
      background-color: #00ADEF;
    }
  }
  &.brands-xing {
    background-color: #005A5F;
    &:hover {
      background-color: #005A5F;
    }
  }
  &.brands-youtube {
    background-color: #FF3333;
    &:hover {
      background-color: #FF3333;
    }
  }
}

.brands-transparent > li > a {
  background-color: rgba(235, 235, 235, 0.4);
}

.brands-transparent-inverse > li > a {
  background-color: rgba(85, 85, 85, 0.2);
  color: #ebebeb;
}

/*------------------------------
	SHAPES
------------------------------*/

.brands-rounded.brands-tn > li > a {
  border-radius: 2px;
}

.brands-rounded.brands-sm > li > a {
  border-radius: 4px;
}

.brands-rounded > li > a {
  border-radius: 6px;
}

.brands-rounded.brands-lg > li > a {
  border-radius: 8px;
}

.brands-rounded.brands-hg > li > a {
  border-radius: 10px;
}

.brands-circle > li > a {
  border-radius: 50%;
}

/*------------------------------
	ANIMATION
------------------------------*/

.brands-spin > li > a:hover i {
  animation: spin 0.5s linear;
  -webkit-animation: spin 0.5s linear;
}

.brands-transition > li > a:hover {
  transition-duration: 0.5s;
}

/*------------------------------
	STRUCTURE
------------------------------*/

.brands-inline > li {
  display: inline-block;
  margin-right: 5px;
}

/*------------------------------
	MEDIA QUERIES
------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (max-width: 767px) {
  .brands > li > a {
    color: #ffffff;
  }

  .brands > li > a.brands-adn {
    background-color: #444444;
  }
  .brands > li > a.brands-android {
    background-color: #A4C639;
  }
  .brands > li > a.brands-apple {
    background-color: #000000;
  }
  .brands > li > a.brands-bitbucket {
    background-color: #205081;
  }
  .brands > li > a.brands-btc {
    background-color: #F89F37;
  }
  .brands > li > a.brands-css3 {
    background-color: #2177FF;
  }
  .brands > li > a.brands-dribbble {
    background-color: #F46899;
  }
  .brands > li > a.brands-dropbox {
    background-color: #3476E4;
  }
  .brands > li > a.brands-facebook {
    background-color: #3B5998;
  }
  .brands > li > a.brands-flickr {
    background-color: #FE0883;
  }
  .brands > li > a.brands-foursquare {
    background-color: #8FD400;
  }
  .brands > li > a.brands-github {
    background-color: #222222;
  }
  .brands > li > a.brands-gittip {
    background-color: #663300;
  }
  .brands > li > a.brands-google-plus {
    background-color: #C63D2D;
  }
  .brands > li > a.brands-html5 {
    background-color: #E44D26;
  }
  .brands > li > a.brands-instagram {
    background-color: #4E433C;
  }
  .brands > li > a.brands-linkedin {
    background-color: #4875B4;
  }
  .brands > li > a.brands-linux {
    background-color: #FFD133;
  }
  .brands > li > a.brands-maxcdn {
    background-color: #F7AC1B;
  }
  .brands > li > a.brands-pagelines {
    background-color: #135DA7;
  }
  .brands > li > a.brands-pinterest {
    background-color: #CB2027;
  }
  .brands > li > a.brands-renren {
    background-color: #005AAB;
  }
  .brands > li > a.brands-skype {
    background-color: #00ADF2;
  }
  .brands > li > a.brands-stack-exchange {
    background-color: #205296;
  }
  .brands > li > a.brands-stack-overflow {
    background-color: #D28A29;
  }
  .brands > li > a.brands-trello {
    background-color: #216884;
  }
  .brands > li > a.brands-tumblr {
    background-color: #2B4964;
  }
  .brands > li > a.brands-twitter {
    background-color: #33CCFF;
  }
  .brands > li > a.brands-vimeo {
    background-color: #86B32D;
  }
  .brands > li > a.brands-vk {
    background-color: #44678D;
  }
  .brands > li > a.brands-weibo {
    background-color: #D52B2A;
  }
  .brands > li > a.brands-windows {
    background-color: #00ADEF;
  }
  .brands > li > a.brands-xing {
    background-color: #005A5F;
  }
  .brands > li > a.brands-youtube {
    background-color: #FF3333;
  }

  .brands-spin > li > a:hover i {
    animation: none;
    -webkit-animation: none;
  }

}
